.custom-tab-header {
    padding-left:50px;
    padding-right: 50px;
    padding-bottom: 20px;
    text-align: center;
    margin-left: 5px;
    padding-top:20px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    border-radius: 10px;

}
.active{
    font-weight: bold;
    border-bottom: 3px solid gray;
    background: #ededed;
    transition: background-color 0.5s ease-out;
}
.custom-tab-body
{
    margin-top: 25px;
    min-height: 400px;
    border: 1px solid lightgray;
    background-color: lightgrey;
    border-radius: 10px;
    padding:20px;
}