.movie-container
{
    min-height: 100px;
   /* border:1px solid lightgray;*/
    text-align: center;
    padding:10px;
}
.poster
{
    border-radius: 5px;
}
.info
{
    padding-top:10px;
    padding-bottom: 10px;
}